scratchpad.xml
~$tracking-sheet.xlsx
catalog.xml
.DS_Store
/manifests/manifest-factory/__pycache__
*.cpython
.vscode
manifests/manifest-factory/__pycache__
manifests/manifest-factory/__pycache__/metadata.cpython-311.pyc
manifests/manifest-factory/__pycache__/csvreader.cpython-311.pyc
manifests/manifest-factory/__pycache__/metadata.cpython-311.pyc
manifests/manifest-factory/__pycache__/sanitiser.cpython-311.pyc
manifests/manifest-factory/__pycache__/csvreader.cpython-311.pyc
manifests/manifest-factory/__pycache__/metadata.cpython-311.pyc
manifests/manifest-factory/__pycache__/sanitiser.cpython-311.pyc
.env
venv