/* refresh 

* {
    margin: 0;
    font-size: 18px;
    max-width: 100%;
    scroll-behavior: smooth;
  }*/

/* text */

body {
    font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
    /*background: linen;*/
    /*padding-left: 3.0rem;*/
}

h1 {
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

h2 {
    font-size: 1.0rem;
    line-height: 1.25rem
}

h3 {
    padding-top: 1.0rem;
    font-size: 1.0rem;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    line-height: 1.0rem;
}

a {
    color: DarkSlateBlue;
}

a.block {
    display: block;
    line-height: 1.15rem;
    margin-left: 2.0rem;
    margin-top: 1.5rem;
}

a.inline {
    display:inline;
}

.del {
    text-decoration: line-through;
}

.add-inline {
    text-decoration: underline;
    color: green;
}

.add-above {
    text-decoration: underline;
    color: green;
    vertical-align: super;
    font-size: 0.9rem;
}

.add-margin {
    text-decoration: underline;
    color: green;
}

.corr {
    color: firebrick;
}

nav a {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

footer {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

footer p {
    font-size: 1.0rem;
}

/* tooltips */

.data-title:hover {
    cursor: help;
    position: relative;
    color: black;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: black;
    color: white;
    font-size: 1.0rem;
    font-weight: normal !important;
    position: absolute;
    padding: 0.33rem 0.66rem;
    bottom: -1.6em;
    white-space: nowrap;
    left: 100%;
    z-index: 99999;
    visibility: hidden;
    border-radius: 0.5rem;
}
[data-title] {
    position: relative;
}